# File Handling

In [1]:
file = open("my-file.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'my-file.txt'

In [2]:
try:
    file = open("my-file.txt")
except FileNotFoundError:
    print("No such File exists!")

No such File exists!

In [3]:
try:
    file = open("my-file.txt")
except FileNotFoundError:
    file = open("my-file.txt",mode="w")

In [5]:
file = open("my-file.txt",mode="w")
file.write("This is the first Content")
file.close()

In [6]:
file = open("my-file.txt",mode="w")
file.write("This is the second Content")
file.close()

In [8]:
file = open("my-file.txt",mode="a")
file.write("\nThis is the third Content")
file.close()

In [10]:
file = open("my-file2.txt",mode="a")
file.write("\nThis is the second Content")

27

In [11]:
file=open("my-file.txt")
print(file)

<_io.TextIOWrapper name='my-file.txt' mode='r' encoding='cp1252'>

In [12]:
file.read()

'This is the second ContentThis is the third Content\nThis is the third Content'

In [14]:
file.readline()

[]

In [15]:
file=open("my-file.txt")
print(file.readline())

This is the second ContentThis is the third Content

In [16]:
file=open("my-file.txt")
print(file.readlines())

['This is the second ContentThis is the third Content\n', 'This is the third Content']

In [17]:
file=open("my-file.txt")
print(file.readline(10))

This is th

In [20]:
file=open("my-file.txt")
print(len(file.read()))

77

In [21]:
file=open("50_Startups.csv")
print(file.read())

R&D Spend,Administration,Marketing Spend,State,Profit
165349.2,136897.8,471784.1,New York,192261.83
162597.7,151377.59,443898.53,California,191792.06
153441.51,101145.55,407934.54,Florida,191050.39
144372.41,118671.85,383199.62,New York,182901.99
142107.34,91391.77,366168.42,Florida,166187.94
131876.9,99814.71,362861.36,New York,156991.12
134615.46,147198.87,127716.82,California,156122.51
130298.13,145530.06,323876.68,Florida,155752.6
120542.52,148718.95,311613.29,New York,152211.77
123334.88,108679.17,304981.62,California,149759.96
101913.08,110594.11,229160.95,Florida,146121.95
100671.96,91790.61,249744.55,California,144259.4
93863.75,127320.38,249839.44,Florida,141585.52
91992.39,135495.07,252664.93,California,134307.35
119943.24,156547.42,256512.92,Florida,132602.65
114523.61,122616.84,261776.23,New York,129917.04
78013.11,121597.55,264346.06,California,126992.93
94657.16,145077.58,282574.31,New York,125370.37
91749.16,114175.79,294919.57,Florida,124266.9
86419.7,153514.11,0,New York,122776.86
76253.86,113867.3,298664.47,California,118474.03
78389.47,153773.43,299737.29,New York,111313.02
73994.56,122782.75,303319.26,Florida,110352.25
67532.53,105751.03,304768.73,Florida,108733.99
77044.01,99281.34,140574.81,New York,108552.04
64664.71,139553.16,137962.62,California,107404.34
75328.87,144135.98,134050.07,Florida,105733.54
72107.6,127864.55,353183.81,New York,105008.31
66051.52,182645.56,118148.2,Florida,103282.38
65605.48,153032.06,107138.38,New York,101004.64
61994.48,115641.28,91131.24,Florida,99937.59
61136.38,152701.92,88218.23,New York,97483.56
63408.86,129219.61,46085.25,California,97427.84
55493.95,103057.49,214634.81,Florida,96778.92
46426.07,157693.92,210797.67,California,96712.8
46014.02,85047.44,205517.64,New York,96479.51
28663.76,127056.21,201126.82,Florida,90708.19
44069.95,51283.14,197029.42,California,89949.14
20229.59,65947.93,185265.1,New York,81229.06
38558.51,82982.09,174999.3,California,81005.76
28754.33,118546.05,172795.67,California,78239.91
27892.92,84710.77,164470.71,Florida,77798.83
23640.93,96189.63,148001.11,California,71498.49
15505.73,127382.3,35534.17,New York,69758.98
22177.74,154806.14,28334.72,California,65200.33
1000.23,124153.04,1903.93,New York,64926.08
1315.46,115816.21,297114.46,Florida,49490.75
0,135426.92,0,California,42559.73
542.05,51743.15,0,New York,35673.41
0,116983.8,45173.06,California,14681.4

In [22]:
file=open("50_Startups.csv")
content=file.readlines()
print(content)

['R&D Spend,Administration,Marketing Spend,State,Profit\n', '165349.2,136897.8,471784.1,New York,192261.83\n', '162597.7,151377.59,443898.53,California,191792.06\n', '153441.51,101145.55,407934.54,Florida,191050.39\n', '144372.41,118671.85,383199.62,New York,182901.99\n', '142107.34,91391.77,366168.42,Florida,166187.94\n', '131876.9,99814.71,362861.36,New York,156991.12\n', '134615.46,147198.87,127716.82,California,156122.51\n', '130298.13,145530.06,323876.68,Florida,155752.6\n', '120542.52,148718.95,311613.29,New York,152211.77\n', '123334.88,108679.17,304981.62,California,149759.96\n', '101913.08,110594.11,229160.95,Florida,146121.95\n', '100671.96,91790.61,249744.55,California,144259.4\n', '93863.75,127320.38,249839.44,Florida,141585.52\n', '91992.39,135495.07,252664.93,California,134307.35\n', '119943.24,156547.42,256512.92,Florida,132602.65\n', '114523.61,122616.84,261776.23,New York,129917.04\n', '78013.11,121597.55,264346.06,California,126992.93\n', '94657.16,145077.58,282574.31,New York,125370.37\n', '91749.16,114175.79,294919.57,Florida,124266.9\n', '86419.7,153514.11,0,New York,122776.86\n', '76253.86,113867.3,298664.47,California,118474.03\n', '78389.47,153773.43,299737.29,New York,111313.02\n', '73994.56,122782.75,303319.26,Florida,110352.25\n', '67532.53,105751.03,304768.73,Florida,108733.99\n', '77044.01,99281.34,140574.81,New York,108552.04\n', '64664.71,139553.16,137962.62,California,107404.34\n', '75328.87,144135.98,134050.07,Florida,105733.54\n', '72107.6,127864.55,353183.81,New York,105008.31\n', '66051.52,182645.56,118148.2,Florida,103282.38\n', '65605.48,153032.06,107138.38,New York,101004.64\n', '61994.48,115641.28,91131.24,Florida,99937.59\n', '61136.38,152701.92,88218.23,New York,97483.56\n', '63408.86,129219.61,46085.25,California,97427.84\n', '55493.95,103057.49,214634.81,Florida,96778.92\n', '46426.07,157693.92,210797.67,California,96712.8\n', '46014.02,85047.44,205517.64,New York,96479.51\n', '28663.76,127056.21,201126.82,Florida,90708.19\n', '44069.95,51283.14,197029.42,California,89949.14\n', '20229.59,65947.93,185265.1,New York,81229.06\n', '38558.51,82982.09,174999.3,California,81005.76\n', '28754.33,118546.05,172795.67,California,78239.91\n', '27892.92,84710.77,164470.71,Florida,77798.83\n', '23640.93,96189.63,148001.11,California,71498.49\n', '15505.73,127382.3,35534.17,New York,69758.98\n', '22177.74,154806.14,28334.72,California,65200.33\n', '1000.23,124153.04,1903.93,New York,64926.08\n', '1315.46,115816.21,297114.46,Florida,49490.75\n', '0,135426.92,0,California,42559.73\n', '542.05,51743.15,0,New York,35673.41\n', '0,116983.8,45173.06,California,14681.4\n']

In [23]:
content[0]

'R&D Spend,Administration,Marketing Spend,State,Profit\n'

In [25]:
content[0].split(",")

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit\n']

In [26]:
content[0].split(",")[3]

'State'

In [27]:

for line in content:
    print(line.split(",")[3])

State
New York
California
Florida
New York
Florida
New York
California
Florida
New York
California
Florida
California
Florida
California
Florida
New York
California
New York
Florida
New York
California
New York
Florida
Florida
New York
California
Florida
New York
Florida
New York
Florida
New York
California
Florida
California
New York
Florida
California
New York
California
California
Florida
California
New York
California
New York
Florida
California
New York
California

In [28]:
data={
    "R&D":[],
    "Admin":[],
    "Market":[],
    "State":[],
    "Profit":[]
    
}
for line in content[1:]:
    splitted=line.split(",")
    data["R&D"].append(splitted[0])
    data["Admin"].append(splitted[1])
    data["Market"].append(splitted[2])
    data["State"].append(splitted[3])
    data["Profit"].append(splitted[4])
print(data)

{'R&D': ['165349.2', '162597.7', '153441.51', '144372.41', '142107.34', '131876.9', '134615.46', '130298.13', '120542.52', '123334.88', '101913.08', '100671.96', '93863.75', '91992.39', '119943.24', '114523.61', '78013.11', '94657.16', '91749.16', '86419.7', '76253.86', '78389.47', '73994.56', '67532.53', '77044.01', '64664.71', '75328.87', '72107.6', '66051.52', '65605.48', '61994.48', '61136.38', '63408.86', '55493.95', '46426.07', '46014.02', '28663.76', '44069.95', '20229.59', '38558.51', '28754.33', '27892.92', '23640.93', '15505.73', '22177.74', '1000.23', '1315.46', '0', '542.05', '0'], 'Admin': ['136897.8', '151377.59', '101145.55', '118671.85', '91391.77', '99814.71', '147198.87', '145530.06', '148718.95', '108679.17', '110594.11', '91790.61', '127320.38', '135495.07', '156547.42', '122616.84', '121597.55', '145077.58', '114175.79', '153514.11', '113867.3', '153773.43', '122782.75', '105751.03', '99281.34', '139553.16', '144135.98', '127864.55', '182645.56', '153032.06', '115641.28', '152701.92', '129219.61', '103057.49', '157693.92', '85047.44', '127056.21', '51283.14', '65947.93', '82982.09', '118546.05', '84710.77', '96189.63', '127382.3', '154806.14', '124153.04', '115816.21', '135426.92', '51743.15', '116983.8'], 'Market': ['471784.1', '443898.53', '407934.54', '383199.62', '366168.42', '362861.36', '127716.82', '323876.68', '311613.29', '304981.62', '229160.95', '249744.55', '249839.44', '252664.93', '256512.92', '261776.23', '264346.06', '282574.31', '294919.57', '0', '298664.47', '299737.29', '303319.26', '304768.73', '140574.81', '137962.62', '134050.07', '353183.81', '118148.2', '107138.38', '91131.24', '88218.23', '46085.25', '214634.81', '210797.67', '205517.64', '201126.82', '197029.42', '185265.1', '174999.3', '172795.67', '164470.71', '148001.11', '35534.17', '28334.72', '1903.93', '297114.46', '0', '0', '45173.06'], 'State': ['New York', 'California', 'Florida', 'New York', 'Florida', 'New York', 'California', 'Florida', 'New York', 'California', 'Florida', 'California', 'Florida', 'California', 'Florida', 'New York', 'California', 'New York', 'Florida', 'New York', 'California', 'New York', 'Florida', 'Florida', 'New York', 'California', 'Florida', 'New York', 'Florida', 'New York', 'Florida', 'New York', 'California', 'Florida', 'California', 'New York', 'Florida', 'California', 'New York', 'California', 'California', 'Florida', 'California', 'New York', 'California', 'New York', 'Florida', 'California', 'New York', 'California'], 'Profit': ['192261.83\n', '191792.06\n', '191050.39\n', '182901.99\n', '166187.94\n', '156991.12\n', '156122.51\n', '155752.6\n', '152211.77\n', '149759.96\n', '146121.95\n', '144259.4\n', '141585.52\n', '134307.35\n', '132602.65\n', '129917.04\n', '126992.93\n', '125370.37\n', '124266.9\n', '122776.86\n', '118474.03\n', '111313.02\n', '110352.25\n', '108733.99\n', '108552.04\n', '107404.34\n', '105733.54\n', '105008.31\n', '103282.38\n', '101004.64\n', '99937.59\n', '97483.56\n', '97427.84\n', '96778.92\n', '96712.8\n', '96479.51\n', '90708.19\n', '89949.14\n', '81229.06\n', '81005.76\n', '78239.91\n', '77798.83\n', '71498.49\n', '69758.98\n', '65200.33\n', '64926.08\n', '49490.75\n', '42559.73\n', '35673.41\n', '14681.4\n']}

In [29]:
data["Market"]

['471784.1',
 '443898.53',
 '407934.54',
 '383199.62',
 '366168.42',
 '362861.36',
 '127716.82',
 '323876.68',
 '311613.29',
 '304981.62',
 '229160.95',
 '249744.55',
 '249839.44',
 '252664.93',
 '256512.92',
 '261776.23',
 '264346.06',
 '282574.31',
 '294919.57',
 '0',
 '298664.47',
 '299737.29',
 '303319.26',
 '304768.73',
 '140574.81',
 '137962.62',
 '134050.07',
 '353183.81',
 '118148.2',
 '107138.38',
 '91131.24',
 '88218.23',
 '46085.25',
 '214634.81',
 '210797.67',
 '205517.64',
 '201126.82',
 '197029.42',
 '185265.1',
 '174999.3',
 '172795.67',
 '164470.71',
 '148001.11',
 '35534.17',
 '28334.72',
 '1903.93',
 '297114.46',
 '0',
 '0',
 '45173.06']

In [30]:
data["Profit"]

['192261.83\n',
 '191792.06\n',
 '191050.39\n',
 '182901.99\n',
 '166187.94\n',
 '156991.12\n',
 '156122.51\n',
 '155752.6\n',
 '152211.77\n',
 '149759.96\n',
 '146121.95\n',
 '144259.4\n',
 '141585.52\n',
 '134307.35\n',
 '132602.65\n',
 '129917.04\n',
 '126992.93\n',
 '125370.37\n',
 '124266.9\n',
 '122776.86\n',
 '118474.03\n',
 '111313.02\n',
 '110352.25\n',
 '108733.99\n',
 '108552.04\n',
 '107404.34\n',
 '105733.54\n',
 '105008.31\n',
 '103282.38\n',
 '101004.64\n',
 '99937.59\n',
 '97483.56\n',
 '97427.84\n',
 '96778.92\n',
 '96712.8\n',
 '96479.51\n',
 '90708.19\n',
 '89949.14\n',
 '81229.06\n',
 '81005.76\n',
 '78239.91\n',
 '77798.83\n',
 '71498.49\n',
 '69758.98\n',
 '65200.33\n',
 '64926.08\n',
 '49490.75\n',
 '42559.73\n',
 '35673.41\n',
 '14681.4\n']

In [ ]:
file=open("50_Startups.csv")
content=file.readlines()
data={
    "R&D":[],
    "Admin":[],
    "Market":[],
    "State":[],
    "Profit":[]
    
}
for line in content[1:]:
    splitted=line.split(",")
    data["R&D"].append(splitted[0])
    data["Admin"].append(splitted[1])
    data["Market"].append(splitted[2])
    data["State"].append(splitted[3])
    data["Profit"].append(splitted[4])
print(data)

In [31]:
file=open("50_Startups.csv")
content=file.readlines()
for line in content[1:]:
    profit_=line.split(",")[-1]
    print(profit)

192261.83

191792.06

191050.39

182901.99

166187.94

156991.12

156122.51

155752.6

152211.77

149759.96

146121.95

144259.4

141585.52

134307.35

132602.65

129917.04

126992.93

125370.37

124266.9

122776.86

118474.03

111313.02

110352.25

108733.99

108552.04

107404.34

105733.54

105008.31

103282.38

101004.64

99937.59

97483.56

97427.84

96778.92

96712.8

96479.51

90708.19

89949.14

81229.06

81005.76

78239.91

77798.83

71498.49

69758.98

65200.33

64926.08

49490.75

42559.73

35673.41

14681.4

In [37]:
file=open("50_Startups.csv")
content=file.readlines()
for line in content[1:]:
    
    profit_raw=line.split(",")[-1]
    profit=float(profit_raw.strip())
    profits=list(profit)
    print(profit)
print(profits)

TypeError: 'float' object is not iterable

In [42]:
file=open("50_Startups.csv")
content=file.readlines()
profits=[]
for line in content[1:]:
    
    profit_raw=line.split(",")[-1]
    profit=profits.append(float(profit_raw.strip()))
    
#     print(profit)
print(sum(profits))
del profits

5600631.960000001

In [40]:
file=open("50_Startups.csv")
content=file.readlines()
total_profit=0
for line in content[1:]:
    
    profit_raw=line.split(",")[-1]
    total_profit +=float(profit_raw.strip())
    
#     print(profit)
print(total_profit)

5600631.960000001

In [43]:
profits

NameError: name 'profits' is not defined

# Lambda Functions

In [44]:
def func(age):
    return 2022-age

In [45]:
func(23)

1999

In [46]:
def func1(age):return 2022-age

In [47]:
func1(34)

1988

In [49]:
(lambda age:2022-age)(38)

1984

In [50]:
func

In [51]:
d_funct=lambda age:2022-age

In [52]:
d_funct

In [57]:
d_funct(38)

1984

In [54]:
dd=(lambda age:2022-age)(38)

In [55]:
dd

1984

In [58]:
g=lambda x,y:x+y

In [59]:
g(4,5)

9

In [60]:
(lambda x,y:x+y)(4,6)

10

In [61]:
def startsWithAlimi(name):
    if name.startswith("Alimi"):
        return True
    else:
        return False

In [62]:
startsWithAlimi("George, Smith")

False

In [63]:
startsWithAlimi("Alimi, Jumbo")

True

In [64]:
def startsWithAlimi(name):
    if name.startswith("Alimi"):
        return True
    return False

In [65]:
startsWithAlimi("Alimi, Jumbo")

True

In [66]:
def startsWithAlimi(name):
    return True if name.startswith("Alimi") else False

In [67]:
startsWithAlimi("Alimi, Jumbo")

True

In [ ]:
def startsWithAlimi(name):return True if name.startswith("Alimi") else False

In [68]:
(lambda name: True if name.startswith("Alimi") else False)("Alimi")

True