In [1]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5,
12], {"class":'V', "section":'A'}]
for item in datalist:
    print(item,type(item))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

In [3]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1),
            [5,12], {"class":'V', "section":'A'}]
for item in datalist:
    print("item:",item,", data Type:",type(item))

item: 1452 , data Type: <class 'int'>
item: 11.23 , data Type: <class 'float'>
item: (1+2j) , data Type: <class 'complex'>
item: True , data Type: <class 'bool'>
item: w3resource , data Type: <class 'str'>
item: (0, -1) , data Type: <class 'tuple'>
item: [5, 12] , data Type: <class 'list'>
item: {'class': 'V', 'section': 'A'} , data Type: <class 'dict'>

In [9]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5,
12], {"class":'V', "section":'A'}]
print("ITEM\t\t\tDATA TYPE")
for item in datalist:
    print(item,"\t\t",type(item))

ITEM			DATA TYPE
1452 		 <class 'int'>
11.23 		 <class 'float'>
(1+2j) 		 <class 'complex'>
True 		 <class 'bool'>
w3resource 		 <class 'str'>
(0, -1) 		 <class 'tuple'>
[5, 12] 		 <class 'list'>
{'class': 'V', 'section': 'A'} 		 <class 'dict'>

In [10]:
for i in range(7):
    if i ==3 or i==6:
        continue
    print(i)

0
1
2
4
5

In [20]:
for i in range(7):
    if i ==3 or i==6:
        continue
    print(i,end=" ")

0 1 2 4 5

In [23]:
for i in range(1,51):
    if i%3==0 and i%5!=0:
        print("Fizz")
    elif i%5==0 and i%3!=0:
        print("Buzz")
    elif i%3==0 and i%5==0:
        print("FizzBuzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [24]:
for i in range(1,51):
    if i%3==0 and i%5!=0:
        print("Fizz")
    elif i%5==0 and i%3!=0:
        print("Buzz")
    elif i%15==0:
        print("FizzBuzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [25]:
12

12

In [26]:
str(12)

'12'

In [27]:
name="Smith"
name[0]

'S'

In [28]:
name[1]

'm'

In [35]:
for number in range(100,400):
    hasOddDigit=False
    for digit in str(number):
        if (int(digit)%2!=0):
            hasOddDigit=True
    if( not hasOddDigit):
        print(number,end=",")
print(400)

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [34]:
for i in range(20):
    print("this")
print(i)

this
this
this
this
this
this
this
this
this
this
this
this
this
this
this
this
this
this
this
this
19

In [36]:
import math

In [37]:
sin(30)

NameError: name 'sin' is not defined

In [38]:
math.cos(40)

-0.6669380616522619

In [40]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [42]:
import random

In [48]:
random.randint(1,6)

5

In [50]:
acct_number="00"
for i in range(8):
    digit= random.randint(0,9)
    acct_number= acct_number+str(digit)
print("Your accoutn number is ",acct_number)

Your accoutn number is  0095091030

In [51]:
acct_number="00"
for i in range(8):
    digit= random.randint(0,9)
    acct_number= acct_number+str(digit)
print("Your accoutn number is ",acct_number)

Your accoutn number is  0025284498

In [52]:
for i in range(20):
    acct_number="00"
    for i in range(8):
        digit= random.randint(0,9)
        acct_number= acct_number+str(digit)
    print("Your accoutn number is ",acct_number)

Your accoutn number is  0022314531
Your accoutn number is  0058186521
Your accoutn number is  0052294591
Your accoutn number is  0056617872
Your accoutn number is  0088177872
Your accoutn number is  0048246876
Your accoutn number is  0031228609
Your accoutn number is  0097764541
Your accoutn number is  0022247868
Your accoutn number is  0021832166
Your accoutn number is  0051547679
Your accoutn number is  0040228036
Your accoutn number is  0082383736
Your accoutn number is  0055624966
Your accoutn number is  0066012908
Your accoutn number is  0086397918
Your accoutn number is  0001187007
Your accoutn number is  0012070288
Your accoutn number is  0019773879
Your accoutn number is  0018337527